/* Add a black background color to the top navigation bar */
.nav {
    width: 100%;
    height: 98px;
    background-color: #7C68FA;

    &-inner {
        padding: 24px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .searchbar {
            position: relative;
            min-width: 70%;
            
            .search-icon {
                position: absolute;
                top: 50%;
                left: 18px;
                transform: translateY(-50%);
            }
            
            input {
                width: 100%;
                padding-left: 52px;
            }
        }
        
        .input[type=text] {
          float: right;
          padding: 6px;
          border: none;
          margin-top: 8px;
          margin-right: 16px;
          font-size: 17px;
        }
    }
}

.profile{
    display: flex;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid;
}

.logo-dash{
    background-color: white;
    background: white url("../img/logo.png") center center;
    background-repeat: no-repeat;
    border-radius: 9px;
    height: 50px;
    padding: 4px 10px !important;
    border: 1px solid;
}

.outer-board {
    padding-top: 50px;
    background: url('../img/dashboard-bg.png') center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100% + 40px);
    margin-left: -20px;
    padding: 50px 20px 20px 20px;
    border-radius: 0 0 24px 24px;
    
    h1 {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
    }
    
}

.grid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    row-gap: 30px;
    column-gap: 60px;
}

.card {
    position: relative;
    width: calc(50% - 30px);
    height: 97px;
    border-radius: 12px;
    background: #FDFDFD;
    padding: 20px;
    padding-left: 32px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    text-decoration: none !important;
    
    &:hover {
        transform: scale(1.01);
    }
    &:nth-child(3n) .card-badge {
        background: #7C68FA;
    }
    &:nth-child(3n+1) .card-badge {
        background: #FA7C68;
    }
    &:nth-child(3n+2) .card-badge {
        background: #68FA7C;
    }
    &-badge {
        position: absolute;
        left: 0;
        top: 0;
        width: 12px;
        height: 100%;
        
    }
    
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        a {
            color: #000000;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
        }
    }
    
    &-body {
        margin-top: 8px;
        color: #7B747D;
    }
    
    &.fotokop {
        height: max-content;
        padding: 0;
        margin-left: 24px;
        display: flex;
        width: 650px;
        height: 300px;
        margin-bottom: 24px;
        
        .fotokop-header {
            position: relative;
            z-index: 3;
            background: url(../img/fotokop.jpg) left no-repeat;
            width: 100%;
            height: 100%;
            min-height: 140px;
            background-size: 100%;
        }
        
        .card-body {
            position: absolute;
            z-index: 4;
            right: 0;
            margin: 0;
            max-width: 45%;
            height: 100%;
            padding-left: 12rem;
            display: flex;
            padding: 5px 20px 20px 65px;
            flex-direction: column;
            justify-content: center;
            background: linear-gradient(to left, white, rgba(255, 255, 255, 75%), rgba(255, 255, 255, 40%));
            background: l;
            ion-timing-function: linear;
            on-timing-function: linear;
            margin-top: 8px;
            color: #7B747D;
        }
    }
    
    &.atam {
        height: max-content;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 296px;
        height: 300px;
        margin-bottom: 24px;
        
        .atam-header {
            background: url(../img/atam.jpg) top no-repeat;
            width: 100%;
            height: 65%;
            min-height: 140px;
            background-size: 100%;
        }
        
        .card-body {
            margin: 0;
            h1 {
                margin-bottom: 8px;
                font-weight: 500;
            }
            padding: 5px 20px 20px 20px;
        }
    }
}