.service {
    margin-top: 16px;
    
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0;
        border-bottom: 1px solid #373737;
        /*border-bottom: 1px solid #7C68FA;*/
        
        &-right {
            .star-icon {
                margin-right: 16px;
            }
            
            .print {
                svg {
                    margin-left: 8px;
                }
            }
        }
    }
    
    &-body {
        padding: 16px 0;
    }
}